:root {
    --text-color: #222;
    --text-size: 16px;
    --text-size-l: 40px;
    --background-color: #fff;

    --link-color: #0063b3;
    --link-color-rgb: 0, 99, 179;

    --telegram-color: #54a9eb;
    --telegram-color-rgb: 84, 169, 235;
    --viber-color: #665cac;
    --viber-color-rgb: 102, 92, 172;
}
